<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hiloipa.app.hilo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".utils.HiloApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.auth.AuthActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.tracker.FutureContactsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.contacts.details.ContactDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.contacts.EditContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.more.email.EmailTemplatesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.more.notes.NotepadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.more.notes.CreateNoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.more.FeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.more.products.ProductsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.more.account.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.more.account.SubscribeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.more.scripts.ScriptsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.more.scripts.EditScriptActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.reachout.EditReachoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.todos.CreateTodoActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />

        <activity
            android:name=".ui.todos.AddActionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.widget.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="vn.tungdx.mediapicker.activities.MediaPickerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MediaPickerTheme" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hiloipa.app.hilo.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".ui.HelpActivity"></activity>
    </application>

</manifest>