<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hiloipa.app.hilo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utils.HiloApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.auth.AuthActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.tracker.FutureContactsActivity" />
        <activity android:name=".ui.contacts.ContactDetailsActivity" />
        <activity android:name=".ui.contacts.EditContactActivity" />
        <activity android:name=".ui.more.email.EmailTemplatesActivity" />
        <activity android:name=".ui.more.notes.NotepadActivity" />
        <activity android:name=".ui.more.notes.CreateNoteActivity" />
        <activity android:name=".ui.more.FeedbackActivity" />
        <activity android:name=".ui.more.products.ProductsActivity" />
        <activity android:name=".ui.more.account.AccountActivity" />
        <activity android:name=".ui.more.account.SubscribeActivity" />
        <activity android:name=".ui.more.scripts.ScriptsActivity" />
        <activity android:name=".ui.more.scripts.EditScriptActivity" />
        <activity android:name=".ui.reachout.EditReachoutActivity"></activity>
    </application>

</manifest>